
*.pt
*.pth
*.onnx
*.engine
*.weights
*.ipynb


README.dataset.txt
README.roboflow.txt

venv/
env/
.venv/
bin/
lib/
include/


__pycache__/
*.py[cod]
*$py.class


**/labels/
*.cache


.DS_Store
.vscode/
.idea/

risultati_test_finali.csv
GEMINI.md
